@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
html {
  font-size: 16px;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("https://plus.unsplash.com/premium_photo-1661823534652-42baa4a9bda9?q=80&w=1672&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
    center center no-repeat;
  background-size: cover;
  min-height: 100vh;
}
a {
  color: #000;
  text-decoration: none;
}
a:hover {
  color: var(--color-second);
}
code {
  font-family: "Roboto", sans-serif;
}
:root {
  --color-main: #875408;
  --color-second: #efb65b;
  --color-grey: #e6e6ed;
  --color-darkgrey: #8b93a6;
  --color-white: rgba(255, 255, 255, 0.85);
}
