@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
html {
  font-size: 16px;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   background: url("https://source.unsplash.com/1600x900/?horse") center center no-repeat;
   background-size: cover;
}
a {
  color: #000;
  text-decoration: none;
}
a:hover {
  color: var(--color-second);
}
code {
  font-family: "Roboto", sans-serif;
}
:root {
  --color-main: #875408;
  --color-second: #efb65b;
  --color-grey: #e6e6ed;
  --color-darkgrey: #8b93a6;
  --color-white: rgba(255, 255, 255, 0.85);
}
